<!--
  This is a NAV PARTIAL (reusable template piece).
  We will include it on multiple pages so we don't repeat nav HTML.
-->
<nav>
    <!-- These links go to routes in Express -->
    <a href="/">Home</a>
    |
    <a href="/menu">Full Menu</a>
</nav>

<hr />